<footer class="footer">
  <div class="socialMediaLinks">
    <a href="https://www.facebook.com/abhivarshpnv" target="_blank"><img src="/images/fb.png" alt="facebook"></a>
    <a href="https://www.instagram.com/abhivarshpnv/" target="_blank"><img src="/images/insta.png" alt="instagram"></a>
    <a href="#"><img src="/images/twitter.png" alt="twitter"></a>
  </div>
  <div class="watermark">copyrights &copy; Mr. Collections 2019 UNCC NBAD Course</div>
</footer>
