<section class="sideContent">
  <aside class="aside">
    <nav class="sideNav">
      <div class="sideNavigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="../../../catalog">Catalog</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="../../../about">About</a></li>
          <li><a href="../../../contactUs">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </aside>
</section>
